@import "../variables.scss";

.section__category {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    white-space: normal;

    .section__category--bg {
        // background-image: url(assets/img/banner/imgbgcategory.jpg);
        background-image: url(assets/img/banner/imgbgcategory.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
        margin-bottom: -3.1em;

        .section__category--titre {
            font-weight: 100;
            font-size: 10.5rem;
            line-height: 1.5;
            width: 6em;
            opacity: 0.1;
            position: relative;
            text-transform: uppercase;
            margin-left: -2.2rem;
            color: $color_gold;
        }

        .section__category--p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 6em;
            gap: 1em;
            margin-top: -10em;

            .section__h2 {
                text-transform: uppercase;
                font-size: xx-large;
            }
        }

    }

    // .section__category--bg::after {
    //     background-color: red;
    // }

    .section__category--containerArticle {
        display: grid;
        grid-template-columns: repeat(6,auto);
        gap: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 16rem;
        margin-left: 10rem;
        margin-right: 10rem;
        

        .section__category--article {
            background-color: white;
            height: 12rem;
            width: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 3rem;

            &.selected {
                background-color: $color_gold;
                color: white;
            }

            .section__category--containerArticleIcon {
                color: $color_gold;
            }
        }
    }



    .section__category--containerImage {
        display: grid;
        grid-template-columns: repeat(3,auto);
        margin-top: -4rem;
        align-items: center;
        height: 30%;
        margin-bottom: 1rem;
        gap: 1.2rem;

        .section__category--imageDiv {
            height: 15rem;
            text-align: center;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 15rem;
        }

        .section__category--image {
           max-height: 100%;
           max-width: 100%;

        //    .section__category--imageDiv .section__category--image big {
        //         width: 30em;
        //         height: 30em;

        //     .section__category--image .big {
        //         width: 100%;
        //         height: 100%;
        //     }
        //    }

           

        }

        .section__category--imagebigBig {
            border-radius: 50%;
            max-width: 100%;
            max-height: 100%;
        }

        .section__category--imageDivBig {
            border-radius: 50%;
            background-color: white;
            padding: 2em;
            height: 30rem;
            width: 30rem;

            
        }


    }
}
