@import "../variables.scss";


@import "../layout/blog.scss";

.section__offer {
    background-color: $color_bgArticle;
    height: 49rem;


    .section__offer--Img1 {
        height: 100%;
        width: 40%;
        position: relative;
        left: 70%;
        z-index: -0.1;
        top: -32%;

        
    }

    .section__offer--Img2{
        position: relative;
        left: -47%;
        top: -16%;
        height: 80%;
        width: 18%;
    }
    

    .section__offer--titre {
        font-weight: 100;
        font-size: 10.5rem;
        line-height: 1.5;
        width: 6em;
        opacity: 0.1;
        position: relative;
        text-transform: uppercase;
        margin-left: 1rem;
        color: $color_gold;
    }

    .section__offer--p {
        @extend .blog__titre-p;
        color: black;

        .section__p {
            color: black;
        }

        .section__h2 {
            text-transform: uppercase;
            font-size: xx-large;
            color: black;
        }
    }

    }

        .section__offer--containerGrid {

            
            position: relative;
            bottom: 49rem;
            left: 15rem;

        .section__offer--container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            align-items: center;
            gap: 1rem;
            width: 68.5%;

            .section__offer--containerContent {
                background-color: white;
                border-radius: 5px;
                width: 25rem;
                height: 5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-left: 2rem;
                padding-right: 2rem;

                &.selected {
                    border: dashed $color_gold ;
                }


                .section__offer--containerContentText {
                    


                    .section__offer--containerContentTextBig {
                        font-size: large;

    
                    }

                    .section__offer--containerContentTextSmall {
                        font-size: small;
                    }
                }

                .section__offer--containerContentPrice {
                    font-size: xx-large;
                    color: $color_gold ;
                    font-weight: 50;
                }


            }

            }
        }

    @media screen and (max-width: 770px) {
        .section__offer--container  {
                    grid-template-columns: repeat(1, auto);
                }
            
                .section__blog--titre {
                    font-size: 9em;
                }
            .list-brand {
                flex-wrap: wrap;
            }
            
            }
            
            @media screen and (min-width: 771px) and (max-width: 1040px) {
                .container__article {
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                    }
                }